body,
html {
  background-color: #09000e;
  font-family: 'Electrolize', sans-serif;
  width: 100%;
  overflow: hidden;
}

:root {
  --FS_M_BigMedium: 2.69vh;
  --FS_M_Normal: 2.34vh;
  --FS_M_SmallMedium: 1.9vh;
}

@keyframes ani {
  0% {
    background-color: #6100DC20
  }

  50% {
    background-color: #6100DC40
  }

  100% {
    background-color: #6100DC20
  }
}

.x0 {
  animation: ease-in-out ani 1.2s infinite;
  animation-delay: 0s;
}

.x1 {
  animation: ease-in-out ani 1.2s infinite;
  animation-delay: 0.25s;
}

.x2 {
  animation: ease-in-out ani 1.2s infinite;
  animation-delay: .5s;
}

@mixin VAlign() {
  left: 50%;
  transform: translate(-50%);
}

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newAccountLabel {
  width: 79.444444444%;
  height: 4.375%;
  font-size: 2.1vh !important;
  @include flex();
}

.verticalLine {
  position: absolute;
  width: 0.01vh;
  background-color: #AAA;
}

.horizontalLine {
  position: absolute;
  height: 0.01vh;
  background-color: #AAA;
}

#newAccountLn {
  @include VAlign();
}

#E2ELabel,
#AuthStatusLabel {
  top: 63.90625%;
  @include VAlign();
}

#AuthStatusLabel {
  top: 14.9%;
  transition: all linear 0.1s;
  transition: color ease-in-out 0.21s;
}

#MsgAuthLabel {
  top: 70%;
  @include VAlign();
}

#NoPlainLabel {
  top: 76.09375%;
  @include VAlign();
}

.inputFieldContainer {
  position: absolute;
  width: 79.444444444%;
  height: 6.5625%;
  @include flex();
}

.inputField::selection {
  background-color: #8c33ff60;
  color: #d6b7ff;
}

.inputField:focus {
  background-color: #6100DC60;
}

.inputField {
  position: absolute;
  top: 0%;
  left: 3.043478261%;
  width: calc(100% - 6.043478261%);
  height: 97%;
  outline: none;
  border: none;
  background-color: #6100DC20;
  border-left: solid 1px #6100DC;
  color: #FFF;
  font-size: var(--FS_M_Normal);
  text-decoration: none;
  padding-left: 3%;
  transition: all linear 0.1s;
}

#usernameField {
  top: calc(21.25% - 5%);
  @include VAlign();
}

#emailField {
  top: calc(32.8125% - 5%);
  @include VAlign();
}

#passwordField {
  top: calc(44.375% - 5%);
  @include VAlign();
}

#loginUsernameField {
  top: 21%;
  @include VAlign();
}

#loginPasswordField {
  top: 31%;
  @include VAlign();
}


.label {
  position: absolute;
  user-select: none;
  color: #AAA;
  font-size: var(--FS_M_Normal);
}

#goToLoginButton {
  top: 48.7%;
  @include VAlign();
}

#newAccountFailedLabel {
  top: 48.7%;
  @include VAlign();
  width: 79.444444444%;
  height: 3.46875%;
  @include flex();
}

#linkDeco {
  top: 56.9%;
  @include VAlign();
}

.button {
  position: absolute;
  @include flex();
  font-size: var(--FS_M_Normal);
  transition: all linear 0.1s;
}

#privateKeyBackup,
#generatingKeyPairLabel,
#resetPasswordButton,
#createAccountButton {
  top: 84.21875%;
  font-size: var(--FS_M_SmallMedium);
  @include VAlign();
}

#generatingKeyPairLabel {
  width: 79.444444444%;
  height: 5.46875%;
  @include flex();
}

#resetPasswordButton {
  top: 47%;
  font-size: var(--FS_M_Normal);
}

#createAccountButton {
  font-size: var(--FS_M_Normal);
}

#createAccount,
#logoutBtn {
  top: 93.4375%;
  font-size: var(--FS_M_BigMedium);
  @include VAlign();
  border-left: none !important;
  border-right: none !important;
}

#logoutBtn {
  padding-top: 2%;
  z-index: 50;
}

//nav

.navBarContainer {
  position: absolute;
  top: 2.1875%;
  left: 0%;
  width: 100%;
  height: 4.84375%;
  @include flex();
  background-color: #6100DC20;
}

#navLogo {
  position: absolute;
  left: -39.388888889%;
}

.navButton {
  height: 100%;
  border: none !important;
  border-right: solid 1px #6100DC !important;
  border-left: solid 1px #6100DC !important;
}

#chatsNavButton {
  left: 22%;
}

#newContactNavButton {
  left: 42.7%;
  width: 34.166666667% !important;
}

#settingsNavButton {
  left: 77.2%;
  width: 22.566666667% !important;
  border-right: none !important;
}

#sysStatusLabel {
  top: -48.3%;
  width: 32.666666667%;
  height: 45%;
  left: 67.1%;
  @include flex();
  transition: all linear 0.1s;
  transition: color ease-in-out 0.3s;
}

//chats
#noConvosLabel,
#noConvosButton {
  top: 20.78125%;
  width: 66.944444444%;
  height: 6.71875%;
  border-radius: 5px;
  @include VAlign();
  @include flex();
}

#noConvosButton {
  top: 33%;
  border-radius: 0px;
}

#chatsContainer {
  position: absolute;
  top: 10.3125%;
  left: 1.388888889%;
  width: 97.222222222%;
  height: 80.9375%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#privateKeyStatusLabel {
  top: 66.09375%;
  width: 60%;
  height: 5%;
  @include VAlign();
  @include flex();
  border-radius: 5px;
}

#privateKeyStatusAuthedDeco {
  top: 72.175%;
  width: 3.6vh !important;
  height: 3.6vh !important;
  @include VAlign();
}

.chatCardListContainer {
  margin-bottom: 4%;
  height: 8%;
}

.chatCard,
.chatHeader {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100.722007722%;
  @include flex();
}

.chatCard {
  margin-bottom: 20%;
}

.chatHeader {
  position: absolute;
  top: 8.90625%;
  height: 6.25%;
  @include VAlign();
  width: 97.222222222%;
  border-left: solid 1px #7000FF;
}

.chatCardName {
  position: absolute;
  left: 5%;
}

.chatCardMsgCount {
  left: 53%;
  width: 32%;
  text-align: end;
  transition: all linear 0.1s;
}

fill,
rect {
  transition: all linear 0.1s;
}

.newMsgsDeco {
  position: absolute;
  top: 50%;
  left: 61%;
}

.chatCardStatus,
.chatHeaderStatus {
  width: 15.05714286%;
  left: 86.14285714%;
  height: 100%;
  @include flex();
}

.chatHeaderStatus {
  left: 82.94285714%;
  width: 15.8%;
}

.chatCardStatusLast {
  left: 86.14285714%;
  width: 15.05714286%;
  text-align: center;
  top: 70%;
}

.chatHeaderBkg {
  position: absolute;
  left: 2.285714286%;
  width: 81.111111111%;
  height: 100%;
  background-color: #6100DC20;
  border-left: solid 1px #7000FF;
}

#chatHeaderBackButton {
  left: 2.285714286%;
}

.chatHeaderName {
  left: 14%;
}

.chatInput {
  position: absolute;
  top: 92.1875%;
  width: 97.222222222%;
  height: 6.5625%;
  @include VAlign();
}

#msgInputActual:focus {
  background-color: #7000FF40 !important;
}

#msgInput {
  width: 78%;
  height: 100%;
}

#sendButton {
  left: 80%;
  width: 20%;
  height: 100%;
  border: none !important;
}

.msgsList {
  position: absolute;
  top: 17.03125%;
  width: 97.222222222%;
  height: 74.21875%;
  border-left: solid 1px #7000FF;
  margin: 0;
  padding: 0;
  @include VAlign();
  overflow-y: scroll;
}

//message | msg
.msgsList::-webkit-scrollbar {
  width: 0vh;
  height: 0px;
}

.msgsList::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #00008300;
}

.msgsList::-webkit-scrollbar-track {
  /* Background */
  background: #00008325;
}

@keyframes msgAni {
  0% {
    transform: scaleY(0.2);
  }

  100% {
    transform: scaleY(1);
  }
}

.msgContainer {
  position: relative;
  left: 2%;
  width: 86.545189504%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 8.454810496%;
  border-left: solid 1px #7000FF;
  margin-bottom: 5%;
  // animation: msgAni linear 0.06s;
}

.msgTime,
.msgSeen {
  position: absolute;
  top: 0;
  left: 91.836734694% !important;
  width: 8%;
  @include flex();
  left: 0;
}

.msgSeen {
  left: 83% !important;
}

.notAuthedMsgDeco,
.msgTypeDeco {
  position: absolute;
  top: 2vh;
  left: 94.336734694%;
}

.msgTypeDeco {
  top: 4.8vh;
}

@keyframes likedDecoAni {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.msgLikedDeco {
  position: absolute;
  animation: likedDecoAni ease-in-out 0.2s;
  top: -0.2vh;
  left: 0%;
}

#chatsFetchingLabel {
  position: absolute;
  top: 60%;
  width: 60%;
  height: 5%;
  @include VAlign();
  @include flex();
  border-radius: 5px;
}

#chatsFetchingDeco {
  position: absolute;
  top: 30%;
}

@keyframes chatsFetchingDecoElmAni {
  0% {
    fill: #6100DC;
    background-color: #6100DC30;
    color: #E09FFF
  }

  50% {
    fill: #4200FF;
    background-color: #4200FF30;
    color: #4200FF
  }

  100% {
    fill: #6100DC;
    background-color: #6100DC30;
    color: #E09FFF
  }
}

.chatsFetchingDecoElm {
  animation: chatsFetchingDecoElmAni ease-in-out 1s infinite;
}

.chatsFetchingLabel {
  animation: chatsFetchingDecoElmAni ease-in-out 1s infinite;
}

//newContact | New Contact
#noSearchResultsLabel {
  top: 33.625%;
  @include VAlign();
  @include flex();
  width: 66.944444444%;
  height: 6.71875%;
  border-radius: 5px;
}

#selectedReqTitle {
  position: absolute;
  top: 58.28125%;
  width: 95.6%;
  height: 6.5625%;
  @include VAlign();
  @include flex();
  border-left: solid 1px #6100DC;
  background-color: #6100DC20;
  z-index: 20;
}

#reqSentLabel {
  top: 47.1875%;
  width: 55.277777778%;
  height: 5%;
  @include VAlign();
  @include flex();
  border-radius: 5px;
  transition: opacity linear 0.1s;
}

#newContactLabel {
  top: 10.78125%;
  left: 2.5%;
}

#newContactSearchInput:focus {
  background-color: #6100DC50;
}

#newContactSearchInput {
  width: 95% !important;
  top: 15%;
  left: 2.5%;
}

#newContactMatchesList,
#activeRequests {
  position: absolute;
  top: 22.96875%;
  left: 2.5%;
  width: 95.6%;
  height: 30%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  border-bottom: solid 1px #6100DC;
  z-index: 5;
}

#selectedReqUsername {
  left: 5%;
}

#selectedReqRXAcceptButton,
#selectedReqRXDenyButton,
#selectedReqBackButton {
  top: 67.1875%;
  @include VAlign();
  width: 66.944444444%;
  height: 6.71875%;
  z-index: 50;
}

#selectedReqRXDenyButton {
  top: 75.9375%;
}

#selectedReqBackButton {
  top: 84.6875%;
}

#selectedReqQID {
  left: 62%;
}

#activeRequests {
  top: 58.28125%;
  height: 33.28125%;
  border: none;
  z-index: 50;
}

#newContactMatchesList::-webkit-scrollbar,
#activeRequests::-webkit-scrollbar {
  width: 0vh;
  height: 0vh;
}

.newContactMatchTileContainer {
  width: 100%;
  height: 100%;
  border-left: solid 1px #6100DC;
  background-color: #36007A50;
  @include flex();
}

.newContactTileUsername {
  left: 3.5%;
  font-size: 2.3vh;
}

.newContactQID {
  font-size: 1.7vh;
  width: 37%;
  text-align: center;
  left: 63%;
}

@keyframes newContactMatchAni {
  0% {
    transform: scaleY(0.6);
  }

  50% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(1);
  }
}

.matchTileContainer {
  position: relative;
  width: 99.9%;
  height: 21.875%;
  margin-bottom: 8%;
  // animation: newContactMatchAni ease-in-out 0.1s;
}

.newContactLoadingDecoTile {
  transition: fill linear 0.1s;
}

#requestsLabel {
  top: 53.90625%;
  left: 2.5%;
}

#noRequestsLabel,
#updatingRequestsLabel {
  left: 2.5%;
  top: 69.53125%;
  width: 95.6%;
  @include VAlign();
  @include flex();
  height: 5%;
  border-radius: 5px;
}

#updatingRequestsLabel {
  top: 80%;
  width: 60%;
  z-index: 100;
}

#newContactSearchDeco {
  position: absolute;
  top: 10.3125%;
  left: 86.666666667%;
}

#loggedInAsLabel {
  top: 94.5%;
  width: 100%;
  @include flex();
}

@keyframes chatLoadingLabelAni {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.chatLoadingStatus, .failedMessageAction{
  top: 45%;
  @include VAlign();
  @include flex();
  width: 80%;
  height: 5%;
  border-radius: 5px;
  transition: all linear 0.1s;
  animation: chatLoadingLabelAni linear 0.1s;
}
.failedMessageAction{
  animation: none;
}


// settings

#pkShare, #pkShare1, #pkShare2{
  position: absolute;
  top: 30%;
  @include VAlign();
  width: 30vh;
  height: 30vh;
  background-color: #6100DC20;
  border: solid 1px #4200FF;
}