body,
html {
  background-color: #09000e;
  font-family: 'Electrolize', sans-serif;
  width: 100%;
  overflow: hidden;
}

:root {
  --FS_M_BigMedium: 2.69vh;
  --FS_M_Normal: 2.34vh;
  --FS_M_SmallMedium: 1.9vh;
}

@keyframes ani {
  0% {
    background-color: #6100DC20
  }

  50% {
    background-color: #6100DC40
  }

  100% {
    background-color: #6100DC20
  }
}

.x0 {
  animation: ease-in-out ani 1.2s infinite;
  animation-delay: 0s;
}

.x1 {
  animation: ease-in-out ani 1.2s infinite;
  animation-delay: 0.25s;
}

.x2 {
  animation: ease-in-out ani 1.2s infinite;
  animation-delay: .5s;
}

@mixin VAlign() {
  left: 50%;
  transform: translate(-50%);
}

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newAccountLabel {
  width: 79.444444444%;
  height: 4.375%;
  font-size: 2.1vh !important;
  @include flex();
}

.verticalLine {
  position: absolute;
  width: 0.01vh;
  background-color: #AAA;
}

.horizontalLine {
  position: absolute;
  height: 0.01vh;
  background-color: #AAA;
}

#newAccountLn {
  @include VAlign();
}

#E2ELabel,
#AuthStatusLabel {
  top: 63.90625%;
  @include VAlign();
}

#AuthStatusLabel {
  top: 14.9%;
  transition: all linear 0.1s;
  transition: color ease-in-out 0.21s;
}

#MsgAuthLabel {
  top: 70%;
  @include VAlign();
}

#NoPlainLabel {
  top: 76.09375%;
  @include VAlign();
}

.inputFieldContainer {
  position: absolute;
  width: 79.444444444%;
  height: 6.5625%;
  @include flex();
}

.inputField::selection {
  background-color: #8c33ff60;
  color: #d6b7ff;
}

.inputField:focus {
  background-color: #6100DC60;
}

.inputField {
  position: absolute;
  top: 0%;
  left: 3.043478261%;
  width: calc(100% - 6.043478261%);
  height: 97%;
  outline: none;
  border: none;
  background-color: #6100DC20;
  border-left: solid 1px #6100DC;
  color: #FFF;
  font-size: var(--FS_M_Normal);
  text-decoration: none;
  padding-left: 3%;
  transition: all linear 0.1s;
}

#usernameField {
  top: calc(21.25% - 5%);
  @include VAlign();
}

#emailField {
  top: calc(32.8125% - 5%);
  @include VAlign();
}

#passwordField {
  top: calc(44.375% - 5%);
  @include VAlign();
}

#loginUsernameField {
  top: 21%;
  @include VAlign();
}

#loginPasswordField {
  top: 31%;
  @include VAlign();
}


.label {
  position: absolute;
  user-select: none;
  color: #AAA;
  font-size: var(--FS_M_Normal);
}

#goToLoginButton {
  top: 48.7%;
  @include VAlign();
}

#linkDeco {
  top: 56.9%;
  @include VAlign();
}

.button {
  position: absolute;
  @include flex();
  font-size: var(--FS_M_Normal);
  transition: all linear 0.1s;
}

#privateKeyBackup,
#resetPasswordButton,
#createAccountButton {
  top: 84.21875%;
  font-size: var(--FS_M_SmallMedium);
  @include VAlign();
}

#resetPasswordButton {
  top: 47%;
  font-size: var(--FS_M_Normal);
}

#createAccountButton {
  font-size: var(--FS_M_Normal);
}

#createAccount,
#logoutBtn {
  top: 93.4375%;
  font-size: var(--FS_M_BigMedium);
  @include VAlign();
  border-left: none !important;
  border-right: none !important;
}

//nav

.navBarContainer {
  position: absolute;
  top: 2.1875%;
  left: 0%;
  width: 100%;
  height: 4.84375%;
  @include flex();
  background-color: #6100DC20;
}

#navLogo {
  position: absolute;
  left: -39.388888889%;
}

.navButton {
  height: 100%;
  border: none !important;
  border-right: solid 1px #6100DC !important;
  border-left: solid 1px #6100DC !important;
}

#chatsNavButton {
  left: 22%;
}

#newContactNavButton {
  left: 42.7%;
  width: 34.166666667% !important;
}

#settingsNavButton {
  left: 77.2%;
  width: 22.566666667% !important;
  border-right: none !important;
}

#sysStatusLabel {
  top: -48.3%;
  width: 32.666666667%;
  height: 45%;
  left: 67.1%;
  @include flex();
  transition: all linear 0.1s;
  transition: color ease-in-out 0.3s;
}

//chats
#chatsContainer {
  position: absolute;
  top: 10.3125%;
  left: 1.388888889%;
  width: 97.222222222%;
  height: 80.9375%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.chatCardListContainer{
  margin-bottom: 20%;
}
.chatCard, .chatHeader {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 7.722007722%;
  @include flex();
}
.chatHeader{
  top: 8.90625%;
  height: 6.25%;
  @include VAlign();
  width: 97.222222222%;
  border-left: solid 1px #7000FF;
}
.chatCardName{
  position: absolute;
  left: 5%;
}
.chatCardMsgCount{
  left: 53%;
  width: 32%;
  text-align: end;
  transition: all linear 0.1s;
}
fill, rect{
  transition: all linear 0.1s;
}
.newMsgsDeco{
  position: absolute;
  top: 50%;
  left: 61%;
}
.chatCardStatus, .chatHeaderStatus{
  width: 15.05714286%;
  left: 86.14285714%;
  height: 100%;
  @include flex();
}
.chatHeaderStatus{
  left: 82.94285714%;
  width: 18%;
}
.chatCardStatusLast{
  left: 86.14285714%;
  width: 15.05714286%;
  text-align: center;
  top: 70%;
}
.chatHeaderBkg{
  position: absolute;
  left: 2.285714286%;
  width: 81.111111111%;
  height: 100%;
  background-color: #6100DC20;
  border-left: solid 1px #7000FF;
}
#chatHeaderBackButton{
  left: 2.285714286%;
}
.chatHeaderName{
  left: 14%;
}